<div class="container" >


<h2>Edit Politician Detail</h2>

<h5>{{p.name}} | {{p.title}} | {{p.state}}</h5>

<p>Responsible Spending</p>
<input type="textarea" name="SpendingDetail" cols="50" rows="20" ng-model="vm.politician.spendMssg"><br>
<hr>

<p>Military</p>
<input type="textarea" name="Military" cols="50" rows="20" ng-model="vm.politician.militMssg"><br>
<hr>

<p>Immigration</p>
<input type="textarea" name="Immigration" cols="50" rows="20" ng-model="vm.politician.immigMssg"><br>
<hr>

<p>Science/Technology</p>
<input type="textarea" name="Science/Technology" cols="50" rows="20" ng-model="vm.politician.scitechMssg"><br>
<hr>

<p>Education</p>
<input type="textarea" name="Education" cols="50" rows="20" ng-model="vm.politician.eduMssg"><br>
<hr>

<p>Social Issues</p>
<input type="textarea" name="Social Issues" cols="50" rows="20" ng-model="vm.politician.socialMssg"><br>
<hr>

<p>Environment</p>
<input type="textarea" name="Environment" cols="50" rows="20" ng-model="vm.politician.envirMssg"> <br>
<hr>

<p>Class Fairness</p>
<input type="textarea" name="Class Fairness" cols="50" rows="20" ng-model="vm.politician.classMssg"> <br>
<hr>

<a href="/home">Back Home</a>
<br>
<br>
<a ng-click="vm.viewUpdates(p._id)">View updates</a>

</div>
